/* Common Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}

/* Default Page Layout */
header,
main,
.footer-content-container {
  max-width: 1320px;
  margin: 0 auto;
}

/* Common Colors */
.color-white {
  color: #fff;
}

.color-red {
  color: #f00;
}

.color-black {
  color: #070211;
}

.color-gray {
  color: rgba(7, 2, 17, 0.6);
}

/* Common Font-Weight Size */
.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

/* Overlay over images */
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 16px;
}

/* Header Styles */
header {
  background: url("../resources/Banner\ Image.png") center/cover no-repeat;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 16px;
}

.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.banner-greetins {
  padding-top: 170px;
  font-size: 32px;
}

.banner-title {
  width: 632px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 72px;
  padding-bottom: 170px;
}

/* main section styles */
main {
  text-align: center;
}

.mt-mb {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* 65% OFF styles */
.section-title {
  font-size: 88px;
  font-family: "Times New Roman", Times, serif;
}

.section-description {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.section-subtitle {
  font-size: 48px;
  padding-bottom: 40px;
}

/* midnight party styles */
section.midnight-party {
  position: relative;
  background: url("../resources/Vectorrr.png") center/cover no-repeat;
  border-radius: 16px;
}

.midnight-content {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}

.typo {
  margin: 120px;
  text-align: left;
}

.image {
  margin-top: 30px;
  margin-right: 120px;
}

.midnight-title {
  font-size: 64px;
}

.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 25px 0;
  line-height: 1.5;
}

.midnight-party button {
  background-color: #f00;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px;
  border: 1px solid #f00;
  cursor: pointer;
}

/* Park Hotel Styles */
.park-hotel {
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 285px;
}

.park-hotel p {
  font-size: 32px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 10px;
}

.park-hotel button {
  background-color: #f00;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 12px;
  border: 1px solid #f00;
  cursor: pointer;
}

/* Best offer styles */
.best-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-typo,
.middle-img,
.right-typo {
  max-width: 33%;
}

.left-typo,
.right-typo {
  text-align: left;
}

.middle-img {
  border: 10px solid red;
  border-radius: 50%;
  padding: 20px;
  margin: 0 50px;
}

.offer-subtitle {
  font-size: 24px;
}

.offer-title {
  font-size: 48px;
  margin: 20px 0;
}

.right-typo .offer-title {
  font-family: Arial, Helvetica, sans-serif;
}

.offer-description {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 50px;
}

/* Best gifts styles */
.gift-typo {
  text-align: left;
}

.gift-subtitle {
  font-size: 24px;
}

.gift-title {
  font-size: 48px;
  margin: 15px 0;
}

.gift-description {
  width: 60%;
  font-size: 20px;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 40px;
}

.img-gallery .image {
  width: calc(33.33% - 10px);
  margin: 5px;
}

/* Newsletter styles */
.newsletter {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 210px;
}
.newsletter-title {
  font-size: 48px;
  margin: 30px 0;
}

.newsletter-description {
  font-size: 20px;
  margin-bottom: 50px;
}

.newsletter .input {
  width: 650px;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
}

input[type="email"] {
  width: 75%;
  position: relative;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  padding: 15px;
  z-index: 1;
  left: 0;
}

input[type="button"] {
  width: 25%;
  background-color: #f00;
  position: absolute;
  border-radius: 0px 50px 50px 0;
  border: none;
  font-size: 20px;
  padding: 15px;
  z-index: 2;
  right: 0;
  cursor: pointer;
}

/* footer styles */
footer {
  background-color: #070211;
}

.footer-content-container {
  padding: 80px 0;
}

.footer-content-container p {
  margin-top: 7px;
  font-size: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 50px 0;
}

.footer-content:last-child {
  border-bottom: none;
}

.icons {
  justify-content: center;
  gap: 30px;
}

.footer-content:last-child a {
  text-decoration: none;
  color: white;
}
