/* Common Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
}

/* Default Page Layout */
header,
main,
footer {
  max-width: 1320px;
  margin: 0 auto;
}

/* Common Colors */
.color-white {
  color: #fff;
}

.color-red {
  color: #f00;
}

.color-black {
  color: #070211;
}

/* Common Font-Weight Size */
.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

/* Overlay over images */
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 16px;
}

/* Header Styles */
header {
  background: url("../resources/Banner\ Image.png") center/cover no-repeat;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 16px;
}

.banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.banner-greetins {
  padding-top: 170px;
  font-size: 32px;
}

.banner-title {
  width: 632px;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 72px;
  padding-bottom: 170px;
}

/* main section styles */
main {
  text-align: center;
}

.mt-mb {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* 65% OFF styles */
.section-title {
  font-size: 88px;
  font-family: "Times New Roman", Times, serif;
}

.section-description {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.section-subtitle {
  font-size: 48px;
  padding-bottom: 40px;
}

/* midnight party styles */
section.midnight-party {
  position: relative;
  background: url("../resources/Vectorrr.png") center/cover no-repeat;
  border-radius: 16px;
}

.midnight-content {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 2;
}

.typo {
  margin: 120px;
  text-align: left;
}

.image {
  margin-top: 30px;
  margin-right: 120px;
}

.midnight-title {
  font-size: 64px;
}

.midnight-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  padding: 25px 0;
  line-height: 1.5;
}

.midnight-party button {
  background-color: #f00;
  font-size: 16px;
  text-transform: uppercase;
  padding: 12px;
  border: 1px solid #f00;
  cursor: pointer;
}
